<form autocomplete="off">
  <div class="attribute-bonuses">
    <label>{{localize 'ADD1E.scores.str.long'}}</label>
    <ol>
      <li>
        {{localize 'ADD1E.Melee'}} ({{mod data.scores.str.mod}})
      </li>
      <li>
        {{localize 'ADD1E.exploration.od.long'}} ({{data.exploration.odMod}} in 6)
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ADD1E.scores.int.long'}}</label>
    <ol>
      <li>
        {{localize 'ADD1E.SpokenLanguages'}} ({{localize data.languages.spoken}})
      </li>
      <li>
        {{localize 'ADD1E.Literacy'}} ({{localize data.languages.literacy}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ADD1E.scores.wis.long'}}</label>
    <ol>
      <li>
        {{localize 'ADD1E.saves.magic.long'}} ({{mod data.scores.wis.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ADD1E.scores.dex.long'}}</label>
    <ol>
      <li>
        {{localize 'ADD1E.Missile'}} ({{mod data.scores.dex.mod}})
      </li>
      <li>
        {{localize 'ADD1E.Initiative'}} ({{mod data.scores.dex.init}})
      </li>
      <li>
        {{localize 'ADD1E.ArmorClass'}} ({{mod data.scores.dex.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ADD1E.scores.con.long'}}</label>
    <ol>
      <li>
        {{localize 'ADD1E.Health'}} ({{mod data.scores.con.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ADD1E.scores.cha.long'}}</label>
    <ol>
      <li>
        {{localize 'ADD1E.NPCReaction'}} ({{mod data.scores.cha.npc}})
      </li>
      <li>
        {{localize 'ADD1E.RetainersMax'}} ({{add data.scores.cha.mod 4}})
      </li>
      <li>
        {{localize 'ADD1E.Loyalty'}} ({{add data.scores.cha.mod 7}})
      </li>
    </ol>
  </div>
</form>
