<div class="add1e game-license">
  <p class="add1e game-license">
    This unofficial system requires AD&D 1st Edition Rules that
    you can find <a href="https://www.drivethrurpg.com/browse.php?filters=44829_0_0_0_0&src=fid44829">here</a>.
  </p>
  <p>
    Advance Dungeons & Dragons is a trademark of Wizards of the Coast. This product is not affiliated with or approved by Wizards of the Coast.
  </p>
  <p>
      Brought to life on Foundry VTT by eCyclops.
  </p>
  <div class="footer">
      Report your issues on <a href="https://github.com/eCyclops/foundryvtt-add1e/issues">Gitlab</a>
  </div>
</div>
